_build
API.docdir
*.bak
.*.swp
setup.data
setup.log
*.byte
*.native
lib/lacaml_impl2_*
lib/lacaml_impl4_*
lib/lacaml_vec2_*
lib/lacaml_vec4_*
lib/lacaml_mat2_*
lib/lacaml_mat4_*
lib/lacaml_S.mli
lib/lacaml_S.ml
lib/lacaml_D.mli
lib/lacaml_D.ml
lib/lacaml_C.mli
lib/lacaml_C.ml
lib/lacaml_Z.mli
lib/lacaml_Z.ml
lib/lacaml.mli
lib/lacaml.mllib
