_build
API.docdir
*~
*.bak
.*.swp
setup.data
setup.log
*.byte
*.native
src/lacaml__impl2_*
src/lacaml__impl4_*
src/lacaml__vec2_*
src/lacaml__vec4_*
src/lacaml__mat2_*
src/lacaml__mat4_*
src/lacaml__S.mli
src/lacaml__S.ml
src/lacaml__D.mli
src/lacaml__D.ml
src/lacaml__C.mli
src/lacaml__C.ml
src/lacaml__Z.mli
src/lacaml__Z.ml
src/lacaml.mli
src/lacaml.mllib
